.Review {
  background-color: #856ba5;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  color: #fff;
}

.Review figure,
h5 {
  margin: 0 0;
}

.ReviewTitle {
  text-align: center;
  font-size: 2rem;
}

.ReviewCreatedOn {
  flex-direction: column-reverse;
}
