* {
    box-sizing: border-box;
  }

.App {
    font-family: "Roboto", sans-serif;
    background-color: #E9EFFF;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
  }

a {
    color: #fff;
    transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #096A2E;
}

a:hover i {
    color: #096A2E;
    transition: color ease-in-out 0.3s;
}

i {
  padding: 3px;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

input[type="file"] {
  display: none;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}