* {
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", sans-serif;
  background-color: #e9efff;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

a {
  color: #fff;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #096a2e;
}

a:hover i {
  color: #096a2e;
  transition: color ease-in-out 0.3s;
}

i {
  font-size: 1.4rem;
  padding: 3px;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

input[type="file"] {
  display: none;
}

.Content {
  background-color: #856ba5;
  padding: 10px;
  border-radius: 2px;
  margin-top: 25px;
}
